<!-- Swiper -->
  <div class="title-img-container">
    <div class="swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <%= image_tag 'ontra_beginner.png',
            alt: '音トレ道場初段',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'ontra_step2.png',
            alt: '音トレ道場２段',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'ontra_step3.png',
            alt: '音トレ道場３段',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'ontra_step4.png',
            alt: '音トレ道場４段',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'ontra_step5.png',
            alt: '音トレ道場５段',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'ontra_step6.png',
            alt: '音トレ道場6段',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'rhythmas_pre1.png',
            alt: 'リズマス準一級',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'rhythmas_pre2.png',
            alt: 'リズマス準２級',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'rhythmas_step2.png',
            alt: 'リズマス２級',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'rhythmas_step3.png',
            alt: 'リズマス３級',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'rhythmas_step4.png',
            alt: 'リズマス４級',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'rhythmas_step5.png',
            alt: 'リズマス５級',
            class: 'title-img' %>
        </div>

      </div>
    </div>
  </div>