<%= render 'shared/before_login_header' %>

<section class="title-section">
  <div class="title-section-inner">

    <div class="sub-title-container">
      <div class="subtitle">
        <h1>
          リスニング、<br>
          これ一つで。
        </h1>
      </div>
      <p class="small-subtitle">
        「音読」×「シャドーイング」で<br>
        「聴く」と「読む」を同時に鍛える<br>
        新しい英語トレーニングアプリ
      </p>
    </div>

    <div class="main-title-container">
      <p class="tagline">
        リスニング強化アプリ
      </p>
      <h1 class="hero-title">
        LISTENER
      </h1>
      <div>
        <div class="cta-section-buttons fade-up delay-1 mt-5">
            <%= link_to "今すぐ始める",
              new_user_registration_path,
              class: "btn btn-primary rounded-pill fw-bold px-5 py-3 shadow" %>

            <%= link_to "ログインする",
              new_user_session_path,
              class: "btn btn-outline-primary rounded-pill fw-bold px-5 py-3" %>
        </div>
    </div>

    </div>
  </div>
</section>

<%= render 'static_pages/feature1' %>
<%= render 'static_pages/feature2' %>
<%= render 'static_pages/signup' %>