<section class="title-section">
  <div class="title-section-inner">

    <div class="sub-title-container">
      <div class="subtitle">
        <h1>
          読んで、<br>
          聞いて、<br>
          声に出せ
        </h1>
      </div>
      <p class="small-subtitle">
      「スクリプトを使った音読トレーニング」で<br>「聴く力」と「読む力」の土台を作る<br>英語音読トレーニングアプリ</p>
    </div>

    <div class="main-title-container">
      <p class="tagline">音読強化アプリ</p>
      <h2 class="hero-title">LISTENER</h2>
      <div class="hero-buttons fade-up delay-1">
        <%= link_to "今すぐ始める",
              new_user_registration_path,
              class: "hero-btn hero-btn--primary" %>
        <%= link_to "ログインする",
              new_user_session_path,
              class: "hero-btn hero-btn--outline" %>
      </div>
    </div>

  </div>
</section>

<%= render "static_pages/features" %>
<%= render "static_pages/feature1" %>
<%= render "static_pages/feature2" %>
<%= render "static_pages/signup" %>
<%= render "static_pages/footer" %>
