<div class="slider">
  <div class="slide">
    <%= image_tag 'music1.jpg',
      alt: 'スライド1',
      class: 'slider-image active' %>
  </div>

  <div class="slide">
    <%= image_tag 'music2.jpg',
      alt: 'スライド2',
      class: 'slider-image' %>
  </div>

  <div class="slide">
    <%= image_tag 'music3.jpg',
      alt: 'スライド3',
      class: 'slider-image' %>
  </div>

  <div class="slide">
    <%= image_tag 'music4.jpg',
      alt: 'スライド4',
      class: 'slider-image' %>
  </div>

  <div class="slide">
    <%= image_tag 'music5.jpg',
      alt: 'スライド5',
      class: 'slider-image' %>
  </div>

</div>