<!-- Swiper -->
  <div class="title-img-container">
    <div class="swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <%= image_tag 'ontra_beginner.png',
            alt: '音トレ道場初段',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'ontra_step2.png',
            alt: '音トレ道場２段',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'ontra_step3.png',
            alt: '音トレ道場３段',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'ontra_step4.png',
            alt: '音トレ道場４段',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'ontra_step5.png',
            alt: '音トレ道場５段',
            class: 'title-img' %>
        </div>

        <div class="swiper-slide">
          <%= image_tag 'ontra_step6.png',
            alt: '音トレ道場６段',
            class: 'title-img' %>
        </div>

      </div>
    </div>
  </div>