<% content_for :title, t('.title') %>

<!-- モーダルウィンドウ -->
<div class="modal-background" id="modal">
  <div class="modal-inner">
    <i class="fa-solid fa-x" id="close-modal"></i>
    <img src=""
         id="modal-image"
         class="modal-image">

    <h3 class="textbook-name"
        id="modal-title"></h3>

    <p class="textbook-level"
       id="modal-level"></p>

    <a href=""
       class="modal-button"
       id="modal-link">
      学習を始める
    </a>

  </div>
</div>

<!-- トップ画面 -->
<div class="textbook-container">
  <h2 class="textbook-title">音トレ道場</h2>
  <div class="textbook-img-container">

    <% @ontre_textbooks.each do |textbook| %>
      <div class="textbook-card"
            data-image="<%= asset_path(textbook.image) %>"
            data-name="<%= textbook.name %>"
            data-level="<%= textbook.level %>"
            data-link="<%= textbook_path(textbook) %>">

        <%= image_tag textbook.image,
            alt: textbook.name,
            class: 'textbook-img' %>
      </div>
    <% end %>

  </div>

  <h2 class="textbook-title">リズムでマスター</h2>
  <div class="textbook-img-container">
    <% @rhythmas_textbooks.each do |textbook| %>
      <div class="textbook-card"
            data-image="<%= asset_path(textbook.image) %>"
            data-name="<%= textbook.name %>"
            data-level="<%= textbook.level %>"
            data-link="<%= textbook_path(textbook) %>">

        <%= image_tag textbook.image,
            alt: textbook.name,
            class: 'textbook-img' %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/navigation_bar' %>