<%= render 'static_pages/modal' %>

<div class="textbook-container">

  <h2 class="textbook-title">音トレ道場</h2>
  <div class="textbook-img-container">
    <%= image_tag 'ontra_beginner.png', alt: '音トレ道場初段', class: 'textbook-img' %>
    <%= image_tag 'ontra_step2.png', alt: '音トレ道場２段', class: 'textbook-img' %>
    <%= image_tag 'ontra_step3.png', alt: '音トレ道場３段', class: 'textbook-img' %>
    <%= image_tag 'ontra_step4.png', alt: '音トレ道場４段', class: 'textbook-img' %>
    <%= image_tag 'ontra_step5.png', alt: '音トレ道場５段', class: 'textbook-img' %>
    <%= image_tag 'ontra_step6.png', alt: '音トレ道場６段', class: 'textbook-img' %>
  </div>

  <h2 class="rhythmas-title">リズムでマスター</h2>
  <div class="textbook-img-container">
    <%= image_tag 'rhythmas_pre1.png', alt: 'リズムでマスター準１級', class: 'textbook-img' %>
    <%= image_tag 'rhythmas_pre2.png', alt: 'リズムでマスター準２級', class: 'textbook-img' %>
    <%= image_tag 'rhythmas_step2.png', alt: 'リズムでマスター２級', class: 'textbook-img' %>
    <%= image_tag 'rhythmas_step3.png', alt: 'リズムでマスター３級', class: 'textbook-img' %>
    <%= image_tag 'rhythmas_step4.png', alt: 'リズムでマスター４級', class: 'textbook-img' %>
    <%= image_tag 'rhythmas_step5.png', alt: 'リズムでマスター５級', class: 'textbook-img' %>
  </div>

</div>

