<% content_for :title, t('.title') %>
<% breadcrumb :textbook, @textbook %>

<div class="textbook-show-container">
  <%= render 'shared/breadcrumb' %>
  
  <div class="textbook-show-audio-container">
    <div class="textbook-show-image-container">
      <%= image_tag @textbook.image,
          alt: @textbook.name,
          class: "textbook-show-img" %>
    </div>

    <div class="textbook-show-info">
      <h2 class="textbook-show-name"><%= @textbook.name %></h2>
      <p class="textbook-show-level">
        レベル: <%= @textbook.level %>
      </p>

      <div id="booklist_button">
        <!-- ===== turboは、idの'booklist_button'で探す   ===== -->
        <%= render "booklists/button", textbook: @textbook, booklist: @booklist %>
      </div>
      <!-- ===== パーシャルに@textbookをtextbook:で渡す。
                 textbook:は、パーシャル内で使う変数名を指定しているだけ　===== -->
        <!-- ===== Textbooks_Controllerで定義したインスタンス変数を使っている。　===== -->
    </div>

  </div>
  <%= render "textbooks/audio_nav" %>
  <%= render 'textbooks/progress_bar' %>
</div>

<%= render "shared/navigation_bar" %>