<% content_for :title, t('.title') %>

<div class="modal-window" id="modal-window">
  <div class="modal-content">
      <div class="modal-my-list">
        <h4></h4>
        <button id='modal-okay-button'>OK</button>
      </div>
  </div>
</div>

<div class="textbook-show-container">
  <%= link_to "＜戻る", root_path, class: "back-btn" %>

  <div class="textbook-show-audio-container">

    <div class="textbook-show-image-container">
      <%= image_tag @textbook.image,
          alt: @textbook.name,
          class: "textbook-show-img" %>
    </div>

    <div class="textbook-show-info">
      <h2 class="textbook-show-name"><%= @textbook.name %></h2>
      <p class="textbook-level">
        レベル: <%= @textbook.level %>
      </p>

      <div id="booklist_button">
        <%= render "booklists/button", textbook: @textbook %>
      </div>  
      
    </div>

  </div>

  <%= render "textbooks/audio_nav" %>
</div>

<%= render "shared/navigation_bar" %>