<% content_for :title, t('.title') %>

<% if @lesson %>
  <% breadcrumb :audios, @lesson %>
<% end %>

<% if @lesson&.audios.present? %>
  <section class="audio-list">
    <%= render 'shared/breadcrumb' %>
    <%= render 'lessons/reading_tips' %>

    <h5>音声一覧</h5>
    <div class="audio-list-wrapper">
      <% @lesson.audios.each do |audio| %>
        <div class="audio-item">
          <%= link_to audio.title,
              textbook_lesson_audio_path(@textbook, @lesson.learning_mode, audio),
              class: "audio-name" %>
          <div class="audio-icons">
            <%= render 'learning_records/completed_button', audio: audio %>
            <%= render 'favorites/favorite_button', audio: audio %>
          </div>
        </div>
      <% end %>
    </div>
  </section>

<% else %>

  <div class="card mt-5 text-center shadow-sm">
    <div class="card-body py-5">
      <h5 class="card-title mb-3 text-muted">
        音声がまだ登録されていません
      </h5>
      <p class="card-text text-secondary mb-4">
        音トレ初段のみご利用いただけます。
      </p>
      <%= link_to "ホームへ", root_path, class: "btn btn-secondary" %>
    </div>
  </div>

<% end %>

<%= render 'shared/navigation_bar' %>