<% content_for :title, t('.title') %>
<% breadcrumb :audios, @lesson %>

<section class="audio-list">
<%= render 'shared/breadcrumb' %>

  <div class="audio-list-wrapper">
      <% @lesson.audios.each do |audio| %>
        <div class="audio-item">
          <%= link_to audio.title,
              textbook_lesson_audio_path(@textbook, @lesson.learning_mode, audio),
              class: "audio-name" %>

          <div class="audio-icons">
            <%= render 'learning_records/completed_button', audio: audio %>
            <%= render 'favorites/favorite_button', audio: audio %> <%# partial内の変数名 : 渡す値 %>
          </div>

        </div>
      <% end %>
  </div>
</section>
<%= render 'shared/navigation_bar' %>