<% content_for :title, t('.title') %>

<section class="audio-list">
  <%= link_to "＜戻る",
      textbook_path(@textbook),
      class: "back-btn" %>

  <h5 class="audio-title">音声一覧</h5>
  <div class="audio-list-wrapper">

      <% @lesson.audios.each do |audio| %>
        <div class="audio-item">

          <%= link_to audio.title,
              textbook_lesson_audio_path(@textbook, @lesson.learning_mode, audio),
              class: "audio-name" %>

          <div class="audio-icons">
            <%= render 'learning_records/completed_button', audio: audio %>
            <%= render 'favorites/favorite_button', audio: audio %> <%# partial内の変数名 : 渡す値 %>
          </div>
        

        </div>
      <% end %>
  </div>
</section>
<%= render 'shared/navigation_bar' %>