<!DOCTYPE html>
<html>
  <head>
    <title>RUNTEQ BOARD APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
      <nav>
        <% if user_signed_in? %>
          <!-- ログイン中の表示 -->
            <%= render 'shared/header' %>
            <span>ようこそ、<%= current_user.user_name %>さん！</span>
        <% else %>
          <!-- 非ログイン中の表示 -->
          <%= render "shared/before_login_header" %>
        <% end %>
      </nav>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
